.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
  border-top: 5px solid #f2f2f2;
}

.nav-c-link {
  padding: .1rem .1rem;
  color: rgba(255, 255, 255, 0.664);
  text-decoration: none;
}



.nav-c-link:hover {
  color: rgba(255, 255, 255, 0.664);
}

.text-c-white {
  color: rgba(255, 255, 255, 0.664);
}


.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-c-dark {
  background: rgba(0, 0, 0, 0.313);
  border-radius: 100px;
}

.crdimg {
  position: relative;
}

.imgwith {
  margin-right: 10px;
  margin-top: -20px;
  margin-left: 10px;
  background-color: #f76c2f;
  border-radius: 10px;
}


.downloadable {
  color: #000;
  margin-left: 20px;
  text-decoration: none;
}

.downloadable:hover {
  color: #000;
}

/* boostrap dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}